<div style="margin:0 auto; text-align:center">
    <h1 class="heading">Oops, the page that you were looking for was not found</h1>
    <div style="margin:0 auto; text-align:center">
        <a asp-controller="Home" asp-action="Index" class="heading" style="margin:0 auto; text-align:center;">Click here to go back to home page</a>
    </div>
</div>