
@{
    ViewData["Title"] = "UnAuthorized";
}
<img class="error-img" src="~/Images/Errors/Unauthorized.jpg" />
<div style="margin:0 auto; text-align:center">
    <h1 class="heading text-danger">Oops, It seems like your access has been denied because of your role.</h1>
    <div style="margin:0 auto; text-align:center">
        <a asp-controller="Home" asp-action="Index" class="heading" style="margin:0 auto; text-align:center;">Click here to go back to home page</a>
    </div>
</div>

